<footer>
  <div class="footer-row">
    <div class="footer-col">
      <h3>Platforms</h3>
      <ul>
        <li>Web</li>
        <li>Mobile</li>
        <li>Desktop</li>
        <li>Cloud</li>
        <li>IoT</li>
      </ul>
    </div>

  </div>
  <div class="footer-row">
    <div class="footer-col">
      <h3>Areas to be found</h3>
      <ul>
        <li>Development</li>
        <li>Design</li>
        <li>Testing</li>
        <li>Management</li>
        <li>Research</li>
      </ul>
    </div>

  </div>
  <div class="footer-row">
    <div class="footer-col">
      <h3>Languages Offered</h3>
      <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Java</li>
        <li>C#</li>
        <li>Go</li>
      </ul>
    </div>

  </div>
</footer>
