.property{
    display: flex;
    padding-left: 3rem;
    text-align: center;
    height: 100vh;
    background-color: aqua;

    /* border: 3px solid black; */
    
}


.prop{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;

}
.image{
    width: 50vw;
    height: auto;

}
.body{

}